
/* UTILS */

.details {
    cursor: pointer;
    background-color: beige !important;
}

.capitalize {
    text-transform: capitalize;
  }

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

/* PAGE */

body, html {
    height: unset;
}

#menu {
    z-index: 1000;
}

#container {
    margin-top: 50px;
    margin-bottom: 20px;
}

#_identity, #abilities, #counters, #saves {
    display: none;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

  /* IDENDITY */

.dd3-id-name {
    font-size: 1.2em;
    font-weight: bold;
}

/* POWERS */

.dd3-power-name {
    font-weight: bold;
}
.dd3-power-desc {
    font-style: italic;
}
