/* UTILS */

.details {
    cursor: pointer;
    background-color: beige !important;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.no-sort {
    cursor: unset !important;
}

/* PAGE */

body, html {
    height: unset;
}

#menu {
    z-index: 1000;
}

#container {
    margin-top: 65px;
    margin-bottom: 40px;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.dd3-name {
    font-weight: bold;
}

.dd3-desc {
    font-style: italic;
}

/* EQUIPMENT */

/*
.dd3-equipement-name {
    cursor: pointer;
}

.dd3-equipement-name:hover > .dd3-equipement-abilities {
    visibility: visible;
    opacity: 1;
    height: inherit;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    border-color: rgb(212, 212, 213);
    border-style: solid;
    border-width: 1px;
    transition: 1s;
}

.dd3-equipement-abilities {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transition: height 1s;
}

.dd3-name {
    font-weight: bold;
}
*/
