/* UTILS */

.details {
    cursor: pointer;
    background-color: beige !important;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.no-sort {
    cursor: unset !important;
}

/* PAGE */

body, html {
    height: unset;
}

#menu {
    z-index: 1000;
}

#container, #sidebar {
    padding-top: 65px;
    margin-bottom: 40px;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

/* DD3 */

.dd3-name {
    font-weight: bold;
}

.dd3-desc {
    font-style: italic;
}

.dd3-references {
    border-left: 4px solid #777777;
    font-size: 0.9em;
    padding: 0em 1em;
    margin: 1em 0em 0em 0em;
}

.dd3-modifier-type {
    font-family: monospace;
    color: darkslategrey;
}

/* MENU */

#toc {
    display: none;
}

@media only screen and (max-width: 700px) {
    #menu .menu.left, #menu .menu.right {
        display: none;
    }
    #toc {
        display: block;
    }
}
